

:root {
    --card-bg-color: rgb(14, 44, 7);
    --card-text-color: #b81559;
    --dish-type-color: #c9c319c1;
    --global-radius: 16px;
    --card-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.06);
  }
  
  

  body {
    background-color: rgb(39, 163, 230);
    font-family: 'Poppins', sans-serif;
  }
  .nav-list,
  a,
  .entry {
    font-weight: 500;
    font: size 16px;
    color: #eb0d87;
    text-decoration: none;
  }
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
  }
  .logo {
    cursor: pointer;
    height: 5%;
    width: 5%;
    margin-right: auto;
    padding: 8px;
  }
  .nav_links {
    list-style: none;
  }
  .nav_links li {
    display: inline-block;
    padding: 0px, 20px;
    margin-left: 20px;
  }
  .nav_links li a {
    transition: all 0.3 ease 0s;
  }
  .nav_links li a:hover {
    color: #0088A9;
  }
  .entry {
    /* padding: 9px 25px;
    background-color: rgb(121, 115, 115);
    border: none;
    border-radius: 53px;
    cursor: pointer;
    transition: all 1.3 ease 3s;
    margin-left: 24px; */
  }
  .entry:hover {
    background-color: rgba(98, 13, 98, 0.8);
  }
  header {
    background-color: #3F4044;
    color: rgb(162, 162, 125);
  }
  .wrapper {
    /* display: flex;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px; */
  }
  
  .card {
    background-color: var(--card-bg-color);
    box-shadow: var(--card-shadow);
    border-radius: var(--global-radius);
    color: var(--card-text-color);
    width: 25rem;
    line-height: 1.5;
    height: 39rem;
    margin: 20px; 
    display: flex;
    justify-content: space-evenly; 
    
  }
  
  .card figure {
    /* width: 100%;
    margin: 0;
    height: 12rem;
    overflow: hidden;
    border-radius: var(--global-radius) var(--global-radius) 0 0;
    margin-bottom: 2rem; */
  }
  
  .Food {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .card h1 {
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  
  .card-meta {
    margin: 0, 1.5rem, 0.5rem;
  }
  
  .dish-type {
    font-weight: 600;
    letter-spacing: -0.25px;
    color: rgb(153, 163, 154);
    margin: 0;
    background-color: var(--dish-type-color);
    padding: 0.25rem 1rem;
    border-radius: 100px;
  }

  .card-para {
    padding: 20px;
  }
  
  #nachos {
    padding: 14px;
  }