.wrapper{
display: flex;
height: 1000px;
width: 1000;
background-color: fuchsia;
justify-content: space-between;
align-items: center;
}
.recipe-card {
  border-radius: var(--global-radius);
  color: var(--card-text-color);
  width: 15rem;
  line-height: 1.5;
  height: 30rem;
  margin-top: 20px;
}


.recipe-card:nth-of-type(1) {
align-self: start;
  background-color: green;
  font-size: x-large;
  font-style: oblique;
}

.recipe-card:nth-of-type(2) {
  align-self: center;
  background-color: rgb(0, 6, 128);
  font-size: small;
  color: yellow;
  }

.recipe-card:nth-of-type(3) {
  align-self: start;
  background-color: brown;
  font-size: large;
  }

.recipe-card:nth-of-type(4) {
  align-self: end;
  background-color: yellow;
  }  

  .recipe-card:nth-of-type(5) {
    align-self: start;
    background-color: black;
    color: white;
    font-size: x-large;
    } 

.recipe-card:nth-of-type(6) {
    align-self: center;
    background-color: navy;
    color: cadetblue;
    font-style: italic;
    font-size: x-small;

  } 










:root {
    --card-bg-color: #fff;
    --card-text-color: #070705;
    --dish-type-color: #0088a9;
    --global-radius: 16px;
    /* --card-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.06); */
  }
  
  body {
    background-color: white
   
}
  
  .nav-list,
  a,
  .entry {
    font-weight: 500;
    font: size 16px;
    color: #ededf1;
    text-decoration: none;
  }
  
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
  }
  
  .logo {
    cursor: pointer;
    height: 15%;
    width: 15%;
    padding: 18px;
  }

  
  .nav_links {
    list-style: none;
  }
  
  .nav_links li {
    display: inline-block;
    padding: 0px, 20px;
    margin-left: 20px;
  }
  
  .nav_links li a {
    transition: all 0.3 ease 0s;
  }
  
  .nav_links li a:hover {
    color: #0088a9;
  }
  
  .entry {
    padding: 9px 25px;
    background-color: red;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
    margin-left: 20px;
  }
  
  .entry:hover {
    background-color: rgba(52, 20, 52, 0.8);
  }
  
  header {
    background-color: #1638be;
    color: white;
  }
  
  
  
  .card-meta {
    font: bold;
    margin: 100, 1.5rem, 0.5rem;
  }
  
  .dish-type {
    font-weight: 600;
    letter-spacing: -0.25px;
    color: #fff;
    margin: 0;
    background-color: var(--dish-type-color);
    padding: 0.25rem 1rem;
    border-radius: 100px;
  }
  
  .card-para {
    padding: 20px;
  }



