.Entress {
    text-align: center;
    margin-top: 20px;
}

.Data-Bytez {
    width: 300px;
}

.WebDev-Queso {
    width: 300px;
}

.Chicken-Zsh-Sliders {
    width: 300px;
}

.CamelCaseShrimp {
    width: 300px;
}

.Digital-Chicken-Strips {
    width: 300px;
}

.Full-Stack-Nachos {
    width: 300px;
}

.Front-End-Back-End-Baby-Ribs {
    width: 300px;
}

.Safe-Mode-Sampler {
    width: 300px;
}

